<ion-modal-view>
  <ion-content>
    <div class="list">
    <div class="item item-divider">
      <input ng-model="modal.name" type="text" class="input" name="name">
    </div>
    <ion-list>
      <ion-item>
        Username
        <input ng-model="account.username" type="text" class="input" name="name">
      </ion-item>

      <ion-item>
        Contact
        <input ng-model="account.contact" type="text" class="input" name="name">
      </ion-item>

      <ion-item>
        Contact
        <input ng-model="account.address" type="text" class="input" name="name">
      </ion-item>

      <ion-item>
        Email
        <input ng-model="account.email" type="text" class="input" name="name">
      </ion-item>

      <ion-item>
        Old Password
        <input type="password" class="input">
      </ion-item>

      <ion-item>
        New Password
        <input type="password" class="input">
      </ion-item>

      <ion-item>
        Password again
        <input type="password" class="input">
      </ion-item>
    </ion-list>
    <div class="text-right">
      <button class="button button-dark" ng-click="saveProfile()">Save</button>
      <button class="button button-dark" ng-click="modal.hide()">Cancel</button>
    </div>
  </div>
  </ion-content>
</ion-modal-view>
