<ion-modal-view>
  <ion-content>
    <div class="list">
    
    <ion-list>
      <ion-item>
        Contact
        <input ng-model="account.phone" type="text" class="input" name="name">
      </ion-item>

      <ion-item>
        Address
        <input ng-model="account.address" type="text" class="input" name="name">
      </ion-item>

      <ion-item>
        Email
        <input ng-model="account.email" type="text" class="input" name="name">
      </ion-item>
    </ion-list>
    <div class="text-right">
      <button class="button button-dark" ng-click="saveProfile(account)">Save</button>
      <button class="button button-dark" ng-click="Modalclose()">Cancel</button>
    </div>
  </div>
  </ion-content>
</ion-modal-view>
