<ion-header-bar align-title="left" >
  <div class="bar bar-header bar-dark">
      <a class="tab-item" href="#/home">
        Home
      </a>

      <a class="tab-item" href="#/newrequest">
        Create
      </a>
    
    <a class="tab-item" href="#/myincomingrequests">
        Applied
      </a>

      <a class="tab-item" href="#/myrequests">
        Created
      </a>

      <a class="tab-item" href="#/account">
        Account
      </a>

      <a class="tab-item" href="#/login">
        Logout
      </a>
    </div>
  </ion-header-bar>

<ion-content>
<div class="list">
<div class="item item-divider">My incoming requests</div>
<ion-list class="item" ng-repeat="x in myexamples">
  <ion-item class="text-center" ng-click="expand = !expand" ng-class='{open:click}'>
    <strong>{{x.title}}</strong>
<span ng-hide="expand">
  <br>
  Description: {{x.description}}
</span>
<span ng-hide="expand">
  <br>
  Deliver from: {{x.address}}
</span>
<span ng-hide="expand">
  <br>
  Deliver to: {{x.deli_address}}
</span>
<span ng-hide="expand">
  <br>
  Deliver before: {{x.deli_time}}
</span>
<span ng-hide="expand">
  <br>
  Creator:  {{x.creator_user}}</a>
</span>
<!-- <span ng-hide="expand"> -->
  <!-- <br> -->
  <!-- Delivery Status:  {{getStatus(x)}} -->
<!-- </span> -->
<!-- <span ng-hide="expand"> -->
  <!-- <br> -->
  <!-- Deliverer: <a href="#/deliverer"> {{getCourier(x)}}</a> -->
<!-- </span> -->
<span ng-hide="expand">
  <br>
  <button id="profile-button1" class="button button-assertive button-inline" ng-click="rejectRequest(x)">Reject</button>
  <!-- <button id="profile-button1" class="button button-assertive button-inline" ng-click="delete(x)">Delete Request</button> -->
 </span>
  </ion-item>
</ion-list>
</div>
</ion-list>
</ion-content>
