<ion-header-bar align-title="left" >
    <a class="tab-item" href="#/home">
      Home
    </a>

    <a class="tab-item" href="#/newrequest">
      New Request
    </a>

    <a class="tab-item" href="#/myrequests">
      My requests
    </a>

    <a class="tab-item" href="#/account">
      Account
    </a>
</ion-header-bar>

<ion-content class="text-center"> <h4 text-center>Requests</h4>
<ion-list ng-repeat="x in myexamples">
  <ion-item ng-click="expand = !expand" ng-class='{open:click}'>
    {{x.title}}
<span ng-hide="expand">
  <br>
  {{x.description}}
</span>
  </ion-item>
</ion-content>
