<ion-modal-view>
  <ion-content>
    <div class="list">
    <div class="item item-divider">
      <input ng-model="example.title" type="text" name="hello">
    </div>
    <ion-list>
      <ion-item>
        Description:
        <input ng-model="example.description" type="text" name="hello">
      </ion-item>

      <ion-item>
        Address:
        <input ng-model="example.address" type="text" name="hello">

      </ion-item>

      <ion-item>
        Destination address:
        <input ng-model="example.dest_address" type="text" name="hello">

      </ion-item>

      <ion-item>
        Delivered Before:
        <input ng-model="example.delivered_before" type="text" name="hello">

      </ion-item>

      <ion-item>
        Payment:
        <input ng-model="example.payment" type="text" name="hello">

      </ion-item>
      <span>
        <br>
        Delivery Status: {{x.status}}
      </span>
      <span>
        <br>
        Deliverer: <a href="#/deliverer">{{x.deliverer}}</a>
      </span>
    </ion-list>
    <div class="text-right">
      <button class="button button-dark" ng-click="save()">Save</button>
      <button class="button button-dark" ng-click="modal.hide()">Cancel</button>
    </div>
    </div>
  </ion-content>
</ion-modal-view>
