<ion-header-bar align-title="left" >
  <div class="bar bar-header bar-dark">
      <a class="tab-item" href="#/home">
        Home
      </a>

      <a class="tab-item" href="#/newrequest">
        New Request
      </a>

      <a class="tab-item" href="#/myrequests">
        My requests
      </a>

      <a class="tab-item" href="#/account">
        Account
      </a>

      <a class="tab-item" href="#/login">
        Logout
      </a>
    </div>
  </ion-header-bar>
<ion-content>
  <div class="list">
    <div class="item item-divider">Create a new request</div>


     <div>
        <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="$parent.title" placeholder="Title..">
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Address</span>
        <input ng-model="$parent.address" type="text" placeholder="Address..">
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Destination address</span>
        <input type="text" ng-model="$parent.destination_address" placeholder="Destination address..">
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" ng-model="$parent.description" placeholder="Description..">
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Delivered before</span>
        <input type="text" ng-model="$parent.valid_untill" placeholder="Delivered before..">
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Payment</span>
        <input type="text" ng-model="$parent.payment" placeholder="Payment...">
        </label>
     </div>

</div>
<div class="text-right">
     <button class="button button-dark" type="submit" ng-click="addRequest()">Submit</button>
</div>
<div ng-repeat="x in requests">
  For testing purposes: {{x}}

</div>
</ion-content>
