<ion-header-bar align-title="left" >
  <div class="bar bar-header bar-dark">
      <a class="tab-item" href="#/home">
        Home
      </a>

      <a class="tab-item" href="#/newrequest">
        Create
      </a>
    
    <a class="tab-item" href="#/myincomingrequests">
        Applied
      </a>

      <a class="tab-item" href="#/myrequests">
        Created
      </a>

      <a class="tab-item" href="#/account">
        Account
      </a>

      <a class="tab-item" href="#/login">
        Logout
      </a>
    </div>
  </ion-header-bar>
  
<ion-content>
  <div class="list">
    <div class="item item-divider">Create a new request</div>


     <div>
        <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="new_request.title" placeholder="Title..">
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Address</span>
        <input ng-model="new_request.address" type="text" placeholder="Address..">
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Destination address</span>
        <input type="text" ng-model="new_request.deli_address" placeholder="Destination address..">
      </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Description</span>
        <input ng-model="new_request.description" type="text" placeholder="Address..">
        </label>
     </div>


     <div>
        <label class="item item-input">
        <span class="input-label">Delivered before</span>
        <input type="text" ng-model="new_request.deli_time" placeholder="Delivered before..">
     </div>

    <div>
        <label class="item item-input">
        <span class="input-label">Payment €</span>
        <input type="number" ng-model="new_request.payment" placeholder="Payment...">
        </label>
     </div>

</div>
<div class="text-right">
     <button class="button button-dark" type="submit" ng-click="addRequest()">Submit</button>
</div>
<div ng-repeat="x in requests">
  For testing purposes: {{x}}

</div>
</ion-content>
