<ion-header-bar align-title="left" >
    <a class="tab-item" href="#/home">
      Home
    </a>

    <a class="tab-item" href="#/newrequest">
      New Request
    </a>

    <a class="tab-item" href="#/myrequests">
      My requests
    </a>

    <a class="tab-item" href="#/account">
      Account
    </a>
</ion-header-bar>
<ion-content>
  <div class="list">
     <div class="item item-input-inset">
       <span class="input-label">Address:</span>
        <label class="item item-input-wrapper">
        <input type="text">
        </label>
     </div>

     <div class="list">
        <div class="item item-input-inset">
          <span class="input-label">Destination address:</span>
           <label class="item item-input-wrapper">
           <input type="text">
           </label>
      </div>

      <div class="list">
         <div class="item item-input-inset">
           <span class="input-label">Title:</span>
            <label class="item item-input-wrapper">
            <input type="text">
            </label>
       </div>

       <div class="list">
          <div class="item item-input-inset">
            <span class="input-label">Description:</span>
             <label class="item item-input-wrapper">
             <input type="text">
             </label>
        </div>

        <div class="list">
           <div class="item item-input-inset">
             <span class="input-label">Cost:</span>
              <label class="item item-input-wrapper">
              <input type="text">
              </label>
         </div>

         <div class="list">
            <div class="item item-input-inset">
              <span class="input-label">Delivery before:</span>
               <label class="item item-input-wrapper">
               <input type="text">
               </label>
          </div>

          <div class="list">
             <div class="item item-input-inset">
               <span class="input-label">Valid untill:</span>
                <label class="item item-input-wrapper">
                <input type="text">
                </label>
           </div>

<div class="text-right">
     <button class="button">Submit</button>
</div>

  </div>
</ion-content>
