<ion-header-bar align-title="center" class="bar bar-header bar-dark">
    <h1 class="title">Registeration form</h1>
</ion-header-bar>

<ion-content>
  <div class="list">
  <div class="item item-divider">Register</div>

     <div>
        <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username.." ng-model="new_user.username" required>
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password.." ng-model="new_user.password" required>
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email.." ng-model="new_user.email" required>
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Phone number</span>
        <input type="number" placeholder="Phone number.." ng-model="new_user.phone" required>
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">Address</span>
        <input type="text" placeholder="Address.." ng-model="new_user.address" required>
        </label>
     </div>

     <div>
        <label class="item item-input">
        <span class="input-label">I own</span>
        <input type="text" placeholder="Car or bike.." ng-model="new_user.owns" required>
        </label>
     </div>

<div class="text-right">
     <button class="button button-dark" ng-click="register()">Submit</button>
     <a class="button button-dark" href="#/login">Cancel</a>
</div>
  </div>
</ion-content>
