/* Empty. Add your own CSS if you like */
.has-tabs-top{
  top: 0px !important;
}

.left{
  float: left;
}

.right{
  float: right;
}
#profile-heading1 {
	color: #000000;
	text-align: center;
}
.item-note{
	color: #000000;
}